<template id="callDetail">
    <div class="modal layer-detail-wrap" v-if="layer.show">
        <div class="layer-bg"></div>
        <div class="modal-dialog" @click="modifyDefault($event)">
            <div class="layer-detail">
                <div class="detail-h">
                    <div class="detail-title">
                        <div class="detail-h-r">
                            <div class="h-r-box">
                                <div class="h-r-li">
                                    <div class="h-r-btn" @click="customerAdd">
                                        <i class="h-r-icon icon-add icon"></i>
                                        <label class="h-r-main">新建客户</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail-main call-detail-main">
                    <div class="detail-left">
                        <div class="tags">
                            <div class="tags-li active">
                                <a href="javascript:void(0)">呼出电话</a>
                            </div>
                            <div class="tags-li">
                                <a href="javascript:void(0)">电话标记</a>
                            </div>
                        </div>
                        <div class="tags-main">
                            <div class="tags-con-li active">
                                <div class="message-box">
                                    <div class="message-t">
                                        跟进信息
                                    </div>
                                    <div class="message-content">
                                        <detail-message :message="messages.remark" name="remark" row="true"></detail-message>
                                        <detail-message :message="messages.fllowPerson" name="fllowPerson"></detail-message>
                                        <detail-message :message="messages.createdTime" name="createdTime"></detail-message>
                                        <detail-message :message="messages.progress" name="progress"></detail-message>

                                    </div>
                                </div>
                                <div class="message-box">
                                    <div class="message-t">
                                        基本信息
                                    </div>
                                    <div class="message-content">
                                        <detail-message :message="messages.userName" name="userName"></detail-message>
                                        <detail-message :message="messages.gender" name="gender"></detail-message>
                                        <detail-message :message="messages.email" name="email"></detail-message>
                                        <detail-message :message="messages.channel" name="channel"></detail-message>
                                        <detail-message :message="messages.DecorationAdress" name="DecorationAdress"></detail-message>
                                        <detail-message :message="messages.DecorationWeek" name="DecorationWeek"></detail-message>
                                        <detail-message :message="messages.IntentionalCategory" name="IntentionalCategory"></detail-message>
                                        <detail-message :message="messages.QQ" name="QQ"></detail-message>
                                        <detail-message :message="messages.wechat" name="wechat"></detail-message>
                                        <detail-message :message="messages.phone" name="phone"></detail-message>
                                        <detail-message :message="messages.cellphone" name="cellphone"></detail-message>
                                    </div>
                                </div>
                                <div class="message-box">
                                    <div class="message-t">
                                        自定义字段
                                    </div>
                                    <div class="message-content">

                                        <detail-message :message="messages.dataSources" name="dataSources"></detail-message>
                                    </div>
                                </div>
                                <div class="message-box">
                                    <div class="message-t">
                                        其他
                                    </div>
                                    <div class="message-content">

                                        <detail-message :message="messages.dataSources" name="dataSources"></detail-message>
                                    </div>
                                </div>
                                <div class="call-bottom-box">
                                    通话中：0'33"
                                    <button class="btn btn-primary">挂断电话</button>
                                </div>
                            </div>
                            <div class="tags-con-li">
                                <div class="">
                                    <div class="tag-progress">
                                        <div class="tag-name require">
                                            销售进度
                                        </div>
                                        <div class="tag-content">
                                            <div class="progress-tag" v-for="item in progress">{{item}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="call-bottom-box">
                                    通话总时长：01'33"
                                    <button class="btn btn-primary">提交电话结果</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script>

    var headMessage = Vue.extend({
        template: '<div class="d-m-li">\n' +
            '    <div class="d-m-name">\n' +
            '        {{message.name}}\n' +
            '    </div>\n' +
            '    <div class="d-m-main">\n' +
            ' <i class="d-m-head" v-if="message.photo != null && message.photo!= undefined && message.photo != \'\'" :style="\'background-image: url(\'+message.photo+\');\'"></i>' +
            '        <label :class="message.photo != null && message.photo!= undefined && message.photo != \'\'?\'d-m-con\':\'\'">{{message.value}}</label>\n' +
            '    </div>\n' +
            '</div>',
        props: ['message']
    });

    var detailMessage = Vue.extend({
        template: '<div class="message-li" :class="row == \'true\'?\'message-row\':\'\'" v-modify data-toggle="MessageEditor"  data-target=".message-li"  data-backdrop="true">\n' +
            '    <div class="icon edit-icon"></div>\n' +
            '    <div class="message-name">\n' +
            '        {{message.name}}\n' +
            '    </div>\n' +
            '    <div class="message-main" >\n' +
            '        <div class="message-text" :data-name="name"  :data-value="message.value == \'\'?\'\':message.value" :data-type="message.type" :data-nametext="message.name" :data-option="message.options == null || message.options == \'\' || message.options == undefined ? \'\' :message.options ">\n' +
            '                {{message.value == ""?"点击填写":message.value}}\n' +
            '        </div>\n' +
            '    </div>\n' +
            '</div>\n',
        props: ['message', 'name', 'row'],
        data: function () {
            return {
            }
        },
        directives: {
            modify: {
                bind: function (el) {
                    $(el).click(function (e) {
                        if ($(e.target).isChildAndSelfOf(".message-li")) {
                            $(this).MessageEditor({ editor: true }, this)
                        }
                    });

                }
            }
        }
    });


    var callDetail = Vue.extend({
        template: '#callDetail',
        props: ['layer'],
        data: function () {
            return {

                messages: {
                    customerId: "",
                    remark: { name: "客户备注", value: "", type: "input" },
                    fllowPerson: { name: "跟进人", value: "", type: "input" },
                    createdTime: { name: "创建时间", value: "" },
                    progress: { name: "销售进度", value: "", type: "select", options: '初步沟通,确认需求,报价,面谈,成单,无需求,输单,未标记' },
                    userName: { name: "客户姓名", value: "", type: "input" },
                    gender: { name: "性别", value: "", type: "select", options: '男,女' },
                    email: { name: "邮箱地址", value: "", type: "input" },
                    channel: { name: "渠道来源", value: "", type: "input" },
                    DecorationAdress: { name: "装修地址", value: "", type: "input" },
                    DecorationWeek: { name: "装修周期", value: "", type: "input" },
                    IntentionalCategory: { name: "意向品类", value: "", type: "input" },
                    QQ: { name: "QQ", value: "", type: "input" },
                    wechat: { name: "微信", value: "", type: "input" },
                    phone: { name: "微信", value: "", type: "input" },
                    cellphone: { name: "座机号码", value: "", type: "input" },
                    dataSources: { name: "数据来源", value: "" },
                },
                detailLineList: [],

                progress: ['无需求', '初步沟通', '确认需求', '报价', '面谈', '成单', '输单'],

            }
        },
        methods: {
            close: function () {
                console.log("关闭详情");
                this.$props.layer.show = false;
            },
            // businessShow: function () {
            //     console.log('客户详情工商信息（企信宝）');
            //     this.$emit('layer', 'business');
            // },
            customerAdd: function () {
                this.$emit('layer', 'customerAdd');
            },

            modifyDefault: function (e) {
                if ($(e.target).isChildAndSelfOf(".message-li")) {
                    $(".editor[data-toggle='MessageEditor']").each(function () {
                        if (!$(e.target).isChildAndSelfOf(this)) {
                            $(this).MessageEditor({ editor: false, callback: 'changed(data)' }, this)
                        }
                    })
                }
                else {
                    $(".editor[data-toggle='MessageEditor']").each(function () {
                        $(this).MessageEditor({ editor: false, callback: 'changed(data)' }, this)
                    })
                }
            }
        },
        components: {
            "headMessage": headMessage,
            "detailMessage": detailMessage,
        },
        activated: function () {


        }
    });
    Vue.component('callDetail', callDetail);
</script>