<template id="inputRow">
    <div class="m-row">
        <div class="m-name " :class="{required:rows.required}">
            {{rows.name}}
        </div>
        <div class="m-info m-input" v-if="rows.input">
            <input type="text" class="input" :placeholder="rows.placeholder == undefined ? '请输入'+rows.name:rows.placeholder" v-model="rows.value"
            />
            <div v-if="rows.enter" class="enter-btn" :class="rows.icon">
                <i></i>{{rows.text}}</div>
        </div>
        <div class="m-info" v-else>
            {{rows.value}}
        </div>
    </div>
</template>
<script>
    var inputRow = Vue.extend({
        template: '#inputRow',
        props: ['rows']
    });
    Vue.component('inputRow', inputRow);
</script>