<template id="myRuleStep4">
            <div class="rule-step" v-show="rulestep==4">
                <div class="template-success">
                    <div class="icon-success"></div>
                    <div class="success-text">设置成功</div>
                </div>
                <div class="template-btn-box">
                    <button class="btn btn-primary" @click="returnStart">返回“我的规则”</button>
                </div>
    </div>
</template>

<script>
    var myRuleStep4 = Vue.extend({
        template: '#myRuleStep4',
        props:['rulestep'],
        data: function () {
            return {
            }
        },
        methods: {
            returnStart:function(){
                this.$emit('return');
            }
        }
    });
    Vue.component('myRuleStep4', myRuleStep4);
</script>