<template id="taskAdd">
    <div class="task-wrap">
        <input-row :rows="rows.taskName"></input-row>
        <div class="m-row">
            <div class="m-name required">
                邮件模板
            </div>
            <div class="m-info m-input">
                <select2 :options="rows.email.options" v-model="rows.email.value" name="短信模板">
                </select2>
            </div>
        </div>
        <input-row :rows="rows.emailTitle"></input-row>

        <div class="m-row">
            <div class="m-name required">
                邮件内容
            </div>
            <div class="m-info m-input">
                <!-- <textarea id="emailContent"></textarea> -->
                <editor ref="editor" id="editor_id" height="500px" width="100%" :content="rows.emailContent.value" :afterChange="afterChange()" pluginsPath="js/kindeditor/plugins/"
                    :loadStyleMode="false" @on-content-change="onContentChange"></editor>
            </div>
        </div>
        <div class="m-row">
            <div class="m-name required">
                数据来源
            </div>
            <div class="m-info m-input">
                <select2 :options="rows.data.options" optiondefault="true" v-model="rows.data.value" name="数据来源">
                </select2>
            </div>
        </div>
    </div>
</template>
<script>
    var taskAdd = Vue.extend({
        template: '#taskAdd',
        data: function () {
            return {
                rows: {
                    taskName: {
                        name: "任务名称", value: "", input: true, required: true
                    },
                    email: {
                        name: "邮件模板", value: "不重复", required: true,
                        options: [{ id: "不重复", text: "不重复" ,title:'标题1',content:"模板1"}, { id: "1", text: "1",title:'标题2',content:"模板2" }, { id: "2", text: "2" ,title:'标题3',content:"模板3"}, {
                            id: "3",
                            text: "3",title:'标题4',content:"模板4"
                        }, { id: "4", text: "4" ,title:'标题5',content:"模板5"}, { id: "5", text: "5" ,title:'标题6',content:"模板6"}, { id: "6", text: "6" ,title:'标题7',content:"模板7"}]
                    },

                    emailTitle: {
                        name: "邮件标题", value: "", input: true, required: true
                    },
                    emailContent: {
                        name: "邮件内容", value: "", input: true, required: true
                    },
                    data: {
                        name: "数据来源",
                        value: "0",
                        optiondefault: true, required: true,
                        options: []
                    },
                }
            }
        },
        methods: {
            submit: function () {
                console.log("新建任务提交");
            },
            onContentChange: function (val) {
                this.$data.rows.emailContent.value = val;
                console.log(this.$data.rows.emailContent.value);
            },
            afterChange: function () {
            }
        },
        watch:{
            'rows.email.value':{
                handler:function(val,oldVal){
                    var _self = this;
                    var options = _self.$data.rows.email.options;
                    for(var i=0;i<options.length;i++){
                        if(val == options[i].text){
                            _self.$data.rows.emailTitle.value = options[i].title;
                            _self.$data.rows.emailContent.value = options[i].content;
                            return;
                        }
                    }
                },
                // 深度观察
                deep:true
            }
        },
        components: {
            'inputRow': inputRow,
            'inputTime': inputTime,
            // 'editor':editor
        }
    });
    Vue.component('taskAdd', taskAdd);
</script>