.setup-title {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #efefef;
  line-height: 39px;
}
.setup-main {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 60px;
  // overflow: auto;
}
.setup-left {
  width: 222px;
  float: left;
  position: relative;
  height: 100%;
  border-right: 1px solid #d4d4d4;
}
.setup-right {
  height: 100%;
  padding: 0 10px;
  margin-left: 222px;
  position: relative;
}
.ztree {
  overflow: auto;

  .department-left & {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 194px;
    left: 0;
    overflow: auto;
    border-bottom: 1px solid #d4d4d4;
  }
}
.companyCode-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 15px;
  line-height: 24px;
  font-size: 14px;
  color: #383838;
  text-align: center;
}
.companyCode-code {
  padding-bottom: 10px;
  border-bottom: 1px solid #d4d4d4;
  font-size: 18px;
  font-weight: bold;
  color: #4e606e;
  + .companyCode-text {
    margin-top: 10px;
  }
}
.join-wrap {
  .input-box {
    margin: 10px;
    .input {
      height: 30px;
    }
  }
  .btn-box {
    margin: 0 20px;
    .btn {
      width: 100%;
    }
  }
}
.setupTable-top {
  padding: 10px 0;
  border-bottom: 1px solid #d4d4d4;
}
.setupTable-top-form {
  display: inline-block;
}
.setupSearch-box {
  display: inline-block;
  width: 242px;
  .input {
    height: 30px;
  }
}
.setup-select {
  display: inline-block;
}
.setupSelect-nav {
  display: inline-block;
  padding: 0 15px;
  color: #999;
  line-height: 26px;
  border-left: 1px solid #999;
  &:first-child {
    border-left: 0;
  }
}
.setupTable-right {
  float: right;
}
.manager-name {
  display: inline-block;
  line-height: 40px;
}
.manager-tip {
  display: inline-block;
  line-height: 20px;
  margin-top: 9px;
  margin-left: 9px;
  vertical-align: top;
  width: 20px;
  text-align: center;
  background: #e25956;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
}
.setupTable {
  // margin: 0 10px;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  top: 52px;
}
.select-box {
  position: relative;
}
.select-text {
  min-height: 40px;
  background: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  line-height: 40px;
  padding: 0 20px;
  b {
    position: absolute;
    height: 40px;
    right: 0;
    width: 20px;
    &:after {
      display: inline-block;
      content: '';
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0;
    }
  }
  &.select-down b {
    &:after {
      border-color: transparent transparent #888 transparent;
      border-style: solid;
      border-width: 0 4px 5px 4px;
    }
  }
}
.selectDown-wrap {
  position: absolute;
  width: 100%;
  background: #fff;
  top: 40px;
  max-height: 180px;
  overflow: auto;
}
.m-selectDepart {
  min-height: 200px;
}
.unbundling-row {
  .radio-box {
    display: block;
    margin: 15px 0;
    color: #999;
    input[type='radio']:checked + i + span {
      color: #383838;
    }
  }
}
.unbundling-wrap {
  font-size: 14px;
  line-height: 20px;
  color: #383838;
}
.unbundling-row
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 38px;
}
.cancellation-text {
  padding: 20px;
  text-align: center;
}
.cancellation-box {
  .btn-box {
    float: right;
    .btn {
      height: 40px;
      width: 140px;
    }
  }
  .input-box {
    margin-right: 150px;
  }
}
