//客户详情弹层
.detail-h {
  padding: 20px 30px;
  background: #fff;
  border-bottom: 1px solid $borderC;
}

.detail-h-r {
  float: right;
}

.h-r-box {
  border: 1px solid $borderC;
  border-radius: 3px;
  @include clearfix;
}

.h-r-btn {
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
  min-width: 39px;
  color: #999;
  cursor: pointer;
  &:hover {
    background: #f5f5f5;
  }
  label {
    cursor: pointer;
  }
}

.h-r-li {
  float: left;
  position: relative;
  border-left: 1px solid $borderC;
  &:first-child {
    border-left: none;
  }
}

.h-r-main {
  margin-left: 30px;
}

.h-r-icon {
  position: absolute;
  top: 2px;
  left: 6px;
}

.icon-edit {
  &:after {
    content: '\e62d';
    font-size: 27px;
  }
}

.icon-add {
  &:after {
    content: '\e640';
    font-size: 27px;
  }
}

.icon-menu {
  &:after {
    content: '\e657';
    font-size: 27px;
  }
}

.h-r-drop {
  position: absolute;
  display: none;
  z-index: 5;
  top: 33px;
  right: 0;
  left: auto;
  padding: 5px;
  min-width: 114px;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

a.h-d-li,
.h-d-li {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  border-top: 1px solid $borderC;
  &:hover {
    background: #f0f0f0;
  }
  &:first-child {
    border-top: none;
  }
}

.h-m-company {
  display: inline-block;
  font-weight: bold;
  line-height: 34px;
  font-size: 16px;
  vertical-align: top;
}

.qixin-btn {
  display: inline-block;
  position: relative;
  padding: 0 10px 0 30px;
  margin-left: 20px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #4e606e;
  border-radius: 3px;
  background: #4e606e;
  color: #fff;
  cursor: pointer;
  i {
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 3px;
    &:after {
      content: '\e648';
      font-size: 25px;
      line-height: 0.5;
    }
  }
}

.d-message {
  @include clearfix;
  margin-top: 20px;
}

.d-m-li {
  float: left;
  width: calc(100% / 6);
  line-height: 30px;
}

.d-m-head {
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.d-m-con {
  margin-left: 33px;
}

.d-m-main {
  position: relative;
  color: #999;
  font-size: 14px;
  min-height: 30px;
}

.p-color0 {
  color: #4e606e;
}

.p-color1 {
  color: #ffb258;
}

.detail-main {
  position: absolute;
  top: 156px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  // overflow-y: auto;
  &.call-detail-main {
    top: 0;
    padding: 0;
  }
}

.detail-left {
  // float: left;
  //  width: 70%;
  // width: calc(70% - 10px);
  // margin-right: 10px;
  background: #fff;
}

// .detail-right {
//   display: inline-block;
//   width: 30%;
//   background: #fff;
//   min-height: 300px;
// }

.tags {
  @include clearfix;
  border-bottom: 1px solid $borderC;
}

.tags-li {
  display: inline-block;
  a {
    display: block;
    padding: 0 20px;
    line-height: 40px;
    font-size: 14px;
    color: $textC;
    text-decoration: none;
  }
  &.active {
    a {
      margin-bottom: -1px;
      box-shadow: inset 0 2px 0 #4e606e;
      border-left: 1px solid $borderC;
      border-right: 1px solid $borderC;
      border-bottom: 1px solid #fff;
    }
  }
  &:first-child.active {
    a {
      border-left: none;
    }
  }
}

.tags-main {
  // min-height: 300px;
  position: absolute;
  top: 51px;
  bottom: 0;
  left: 10px;
  right: 10px;
  overflow-y: auto;
  background: #fff;
  .call-detail-main & {
    top: 41px;
    left: 0;
    right: 0;
    bottom: 50px;
  }
}

.tags-con-li {
  display: none;
  position: relative;
  // .call-detail-main & {
  //   padding-bottom: 50px;
  // }
  &.active {
    display: block;
  }
}
.call-bottom-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 10px;
  padding: 10px;
  text-align: right;
  height: 49px;
  box-sizing: border-box;
  background: #fff;
  border-top: 1px solid #efefef;
}

.list-li {
  padding: 10px;
  border-top: 1px solid $borderC;
  &:first-child {
    border-top: none;
  }
}

.title-left {
  position: relative;
  padding-left: 50px;
  margin-right: 100px;
  line-height: 40px;
  font-size: 14px;
}

// .title-icon {
//   position: absolute;
//   top: 4px;
//   left: 10px;
// }

.icon-contact {
  &:after {
    content: '\e608';
    font-size: 36px;
    color: #4e606e;
  }
}

// .icon-word {
//   top: 0;
//   &:after {
//     content: "\e618";
//     font-size: 40px;
//     color: #f4d0a8;
//   }
// }

// .title-right {
//   float: right;
//   position: relative;
// }

// .title-btn {
//   display: inline-block;
//   margin: 7px 5px 0;
//   min-width: 25px;
//   color: #999;
//   cursor: pointer;
// }

// .icon-t {
//   display: inline-block;
// }

// .icon-t-arrow {
//   &:after {
//     content: "\e659";
//     font-size: 25px;
//   }
//   &.active:after {
//     content: "\e64a";
//   }
// }

// .icon-t-set {
//   &:after {
//     content: "\e60c";
//     font-size: 20px;
//   }
// }

// .icon-t-upload {
//   &:after {
//     content: "\e61a";
//     font-size: 23px;
//   }
// }

// .icon-history {
//   &:after {
//     content: "\e60a";
//     font-size: 36px;
//     color: #efc1b1;
//   }
// }

.list-main {
  margin-top: 10px;
}

$iconVideo: (
  video: '\e613',
  download: '\e611'
);

@each $icon, $content in $iconVideo {
  .#{$icon} {
    @include icon;
    line-height: 0;
    &:after {
      color: #4e606e;
      content: '#{$content}';
      font-size: 23px;
      line-height: (25/23) * 1;

      .table-li & {
        line-height: (30/23) * 1;
      }
    }
  }
}
// .table-row {
//   @include clearfix;
//   color: #999;
//   &:hover {
//     background: #f5f5f5;
//   }
// }

// $contactW: 4% 12% 17% 10% 22% 22% 12%;

// .table-li {
//   float: left;
//   padding: 5px;
//   line-height: 30px;
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   overflow: hidden;
//   .list-task & {
//     min-width: 140px;
//   }
//   a {
//     color: $color;
//     text-decoration: none;
//   }
// }

// @for $i from 1 through 7 {
//   .table-li#{$i} {
//     width: nth($contactW, $i);
//     @if($i == 7){
//       font-size: 0;
//       line-height: 0;
//     }
//   }
// }

// .table-color {
//   color: $color;
// }

// .table-head {
//   background: #eefaf9;
//   color: $textC;
//   &:hover {
//     background: #eefaf9;
//   }
// }

.word-list {
  @include clearfix;
}

.word-li {
  float: left;
  padding: 10px 20px;
  line-height: 24px;
  color: #999;
  &:hover {
    background: #f5f5f5;
  }
}

.word-t {
  color: #39aea0;
}

.note-form {
  padding: 10px;
}

.btn-right-box {
  margin-top: 10px;
  text-align: right;
}

//时间轴
.line-box,
.line-time {
  position: relative;
  line-height: 25px;
  color: #999;
}

.line-box {
  margin: 10px;
  padding-bottom: 17px;
  &:after {
    position: absolute;
    content: '';
    width: 1px;
    top: 25px;
    bottom: 0;
    left: 15px;
    background: #d4d4d4;
  }
  &:last-child:after {
    display: none;
  }
}

.line-time {
  padding-left: 34px;
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $color;
  }
}

.line-main {
  position: relative;
  z-index: 5;
  margin-top: 10px;
  padding: 10px 10px 10px 25px;
  border-radius: 5px;
  background: #eefaf9;
}

.color {
  color: $lineColor;
}

.color-big {
  font-size: 14px;
}

.line-state {
  color: $lineColor;
}

a.line-href {
  text-decoration: underline;
  color: $lineColor;
}

.talk-time {
  .video-box {
    display: inline-block;
    position: relative;
    height: 17px;
    .icon {
      position: absolute;
      top: 0;
    }
    .video {
      left: 5px;
    }
    .download {
      left: 30px;
    }
  }
}

.message-box {
  @include clearfix;
  padding: 15px;
  border-top: 1px dashed $borderC;
  &:first-child {
    border-top: none;
  }
}

.message-t {
  font-size: 14px;
  // font-weight: bold;
  padding: 10px;
}

.message-li {
  position: relative;
  width: 33%;
  float: left;
  padding: 2px 10px;
  margin: 12px 0;
  line-height: 28px;
  &:hover {
    background: #f5f5f5;
    // .call-main & {
    //   background: transparent;
    // }
  }
  &.message-row {
    width: 100%;
  }
  &.message-noHover:hover {
    background: transparent;
  }

  input,
  select,
  textarea {
    width: 85%;
    height: 28px;
    padding: 0;
    line-height: 28px;
    //min-width: 260px;
    border: 1px solid #999;
    border-radius: 3px;
    //background: none;
    //border-color:#999;
    background-color: #fff;
    color: #383838;
    box-sizing: border-box;
    vertical-align: top;
    //&:focus{
    //  border-color:#999;
    //  background-color: #fff;
    //  color: #383838;
    //}
  }
  select {
    height: 26px;
    line-height: 26px;
  }
}

.edit-icon {
  display: none;
  position: absolute;
  top: 7px;
  right: 14px;
  line-height: 0;
  &:after {
    color: #999;
    content: '\e61b';
    font-size: 22px;
  }
  .message-li:hover & {
    display: block;
  }
}

.message-text {
  padding-right: 20px;
  min-height: 29px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  //.message-block{
  //  display: block;
  //  border:1px solid transparent;
  //}
}
.message-name {
  float: left;
  width: 100px;
  color: #999;
  &.message-noHover {
    line-height: 32px;
    position: relative;
    &.required:before {
      content: '*';
      position: absolute;
      top: 10px;
      left: 0px;
      color: #d43131;
      line-height: 1;
      font-size: 200%;
    }
  }
  .call-main & {
    padding-left: 15px;
  }
}
.call-main {
  @include clearfix;
}
.message-main {
  margin-left: 100px;
  font-size: 14px;
  color: #c2c2c2;
}

.member {
  margin: 10px 15px;
}

.member-li {
  position: relative;
  padding: 20px 0 20px 35px;
  line-height: 26px;
  border-top: 1px solid $borderC;
  &:first-child {
    border-top: none;
  }
}

.member-head {
  position: absolute;
  left: 0;
  top: 20px;
  width: 26px;
  height: 26px;
  @include icon;
}

.change-btn {
  float: right;
  // display: inline-block;
  position: relative;
  width: 20px;
  height: 26px;
  .icon {
    top: 5px;
    left: 0;
  }
}

.progress-tag,
.tag-radius {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 0 5px;
  min-width: 90px;
  line-height: 32px;
  // background-color: #ffffff;
  border: solid 1px #efefef;
  text-align: center;
  box-sizing: border-box;
  color: #4e606e;
  &.active,
  &:hover {
    background: #4e606e;
    color: #fff;
  }
}
.detail-top-Btn {
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 999;
}
.bor-b-dashed {
  border-bottom: 1px dashed #efefee;
}

//borer-radius
.tag-radius-box {
  min-height: 44px;
}
.tag-radius {
  border-radius: 16px;
}
.tag-main-name {
  float: left;
  width: 90px;
  font-weight: bold;
  color: #383838;
  line-height: 32px;
}
.tag-radius-box {
  margin-left: 95px;
}

.customFiledsDetail {
  display: block;
  @include clearfix;
}
