<link type="image/x-icon" href="img/favicon.ico" rel="icon">

<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/beAlert.css">
<link rel="stylesheet" href="css/select2.css">
@@if(style == "normal"){
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/jqxgrid.css">
}
@@if(style == "login"){
<link rel="stylesheet" href="css/login.css">
}
<script src="js/vue.min.js"></script>
<script src="js/vue-resource@1.3.4.js"></script>
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.autocomplete.js"></script>
<script src="js/resize.js"></script>
<script src="js/beAlert.js"></script>
<script src="js/select2.js"></script>
<script src="js/drag.js"></script>
<!--<script src="js/jsDate/laydate.js"></script>-->
<!--<script src="js/layDate/laydate.js"></script>-->
<!--@@if(style == "login"){-->
<!--<script src="js/login.js"></script>-->
<!--}-->
@@if(style == "normal"){
<script src="js/audio.js"></script>
}
<!--[if lt IE 10]>
<script type="text/javascript" src="js/html5shiv.js"></script>
<script type="text/javascript" src="js/respond.min.js"></script>
<script type="text/javascript" src="js/placeholder.js"></script>
<![endif]-->