<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>客户</title>
    <!--公共-->
    @@include("../component/common.html",{"style":"normal"})
    <!--表格-->

    <script type="text/javascript" src="js/jqx/jqxcore.js"></script>
    <script type="text/javascript" src="js/jqx/jqxdata.js"></script>
    <script type="text/javascript" src="js/jqx/jqxbuttons.js"></script>
    <script type="text/javascript" src="js/jqx/jqxinput.js"></script>
    <script type="text/javascript" src="js/jqx/jqxscrollbar.js"></script>
    <script type="text/javascript" src="js/jqx/jqxmenu.js"></script>
    <script type="text/javascript" src="js/jqx/jqxgrid.js"></script>
    <script type="text/javascript" src="js/jqx/jqxgrid.sort.js"></script>
    <script type="text/javascript" src="js/jqx/jqxgrid.filter.js"></script>
    <script type="text/javascript" src="js/jqx/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="js/jqx/jqxgrid.columnsresize.js"></script>
    <script type="text/javascript" src="js/jqx/jqxgrid.edit.js"></script>
    <script type="text/javascript" src="js/jqx/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="js/jqx/jqxcheckbox.js"></script>
    <script type="text/javascript" src="js/jqx/jqxlistbox.js"></script>
    <script type="text/javascript" src="js/jqx/jqxcombobox.js"></script>
    <script type="text/javascript" src="js/jqx/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="js/jqx/jqxgrid.columnsreorder.js"></script>

    <script src="js/jqx/jqxcalendar.js"></script>
    <script src="js/jqx/jqxdatetimeinput.js"></script>
    <script src="js/jqx/globalize.js"></script>

    <script src="js/jqx/globalize.culture.ch-CN.js"></script>


    <link rel="stylesheet" type="text/css" href="js/kindeditor/themes/default/default.css" />
    <link rel="stylesheet" href="js/kindeditor/plugins/code/prettify.css" />
    <script charset="utf-8" src="js/kindeditor/kindeditor-all.js"></script>
    <script charset="utf-8" src="js/kindeditor/lang/zh-CN.js"></script>
    <script charset="utf-8" src="js/kindeditor/plugins/code/prettify.js"></script>


    <script src="js/kindeditor/kindeditor-all.js"></script>
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="app">
        <!--header-->
        <common-head></common-head>
        <section class="b-main">
            <!--左侧菜单-->
            <menu-aside menu="index"></menu-aside>
            <div class="b-panel">
                <customer-head @layer="layer" :type="type" @typechange="typeChange"></customer-head>
                <customer-table></customer-table>
            </div>
        </section>

        <!-- 表格内详情显示 -->
        <div class="panels" id="panels-detail"></div>

        <!--客户详情-->
        <transition name="detail">
            <keep-alive v-if="layers.customerDetail.show">
                <customer-detail :layer="layers.customerDetail" @layer="layer" ref="customerDetail"></customer-detail>
            </keep-alive>
        </transition>

        <!--拨打电话-->
        <transition name="detail">
            <keep-alive v-if="layers.callDetail.show">
                <call-detail :layer="layers.callDetail" @layer="layer" ref="callDetail"></call-detail>
            </keep-alive>
        </transition>

        <!--新建客户-->
        <transition name="layer">
            <layer :layer="layers.customerAdd">
                <customer-add ref="customerAdd"></customer-add>
            </layer>
        </transition>

        <!--编辑客户-->
        <transition name="layer">
            <layer :layer="layers.customerModify">
                <customer-modify ref="customerModify"></customer-modify>
            </layer>
        </transition>

        <!--自定义表头-->
        <transition name="layer">
            <layer :layer="layers.tableHead">
                <table-head ref="tableHead"></table-head>
            </layer>
        </transition>

        <!--变更负责人-->
        <transition name="layer">
            <layer :layer="layers.changeContact">
                <change-contact ref="changeContact"></change-contact>
            </layer>
        </transition>
        <!--电话任务-->
        <transition name="layer">
            <layer :layer="layers.taskAdd">
                <task-add ref="taskAdd"></task-add>
            </layer>
        </transition>
        <!--短信任务-->
        <transition name="layer">
            <layer :layer="layers.taskmessageAdd">
                <taskmessage-add ref="taskmessageAdd"></taskmessage-add>
            </layer>
        </transition>
        <!--邮件任务-->
        <transition name="layer">
            <layer :layer="layers.taskemailAdd">
                <taskemail-add ref="taskemailAdd"></taskemail-add>
            </layer>
        </transition>
        <!--导入客户-->
        <transition name="layer">
            <layer :layer="layers.export">
                <export-wrap ref="export"></export-wrap>
            </layer>
        </transition>
        <!--通话录音-->
        <transition name="audio">
            <my-audio :layer="audio"></my-audio>
        </transition>
    </div>

    @@include('../components/inputRow.html')
    <!-- 选择跟进人 -->
    @@include('../components/staffSelect.html')
    <!-- 修改跟进人 -->
    @@include('../components/changeContact.html')
    <!-- 富文本编辑器 -->
    @@include('../components/editor.html')

    <!--左侧导航-->
    @@include('../components/aside.html')
    <!--顶部-->
    @@include('../components/head.html')
    <!--客户头部-->
    @@include('../components/customer-head.html')
    <!--客户表格-->
    @@include('../components/customer-table.html')
    <!--客户详情-->
    @@include('../components/customerDetail.html')
    <!--拨打电话-->
    @@include('../components/callDetail.html')
    <!--弹框-->
    @@include('../components/layer.html')
    <!--新建客户-->
    @@include('../components/customerAdd.html') @@include('../components/autocomplete.html')
    <!--编辑客户-->
    @@include('../components/customerModify.html')
    <!--自定义表头-->
    @@include('../components/tableHead.html')
    <!-- 语音播放 -->
    @@include('../components/audio.html')
    <!--selected-->
    @@include('../components/select2.html') @@include('../components/inputTime.html')
    <!-- 电话任务 -->
    @@include('../components/taskAdd.html')
    <!-- 短信任务 -->
    @@include('../components/taskMessageAdd.html')
    <!-- 邮件任务 -->
    @@include('../components/taskEmailAdd.html')
    <!-- 导入客户 -->
    @@include('../components/export.html')
    <script src="js/scripts.js"></script>
    <script src="js/customer.js"></script>
    <script src="js/MessageEditor.js"></script>
    <script src="js/customerDetail.js"></script>

</body>

</html>