<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>部门设置</title>
    <!--公共-->
    @@include("../component/common.html",{"style":"normal"})
    <!--表格-->

    <script type="text/javascript" src="js/jqx/jqxcore.js"></script>
    <script type="text/javascript" src="js/jqx/jqxdata.js"></script>
    <script type="text/javascript" src="js/jqx/jqxbuttons.js"></script>
    <script type="text/javascript" src="js/jqx/jqxinput.js"></script>
    <script type="text/javascript" src="js/jqx/jqxscrollbar.js"></script>
    <script type="text/javascript" src="js/jqx/jqxmenu.js"></script>
    <script type="text/javascript" src="js/jqx/jqxgrid.js"></script>
    <script type="text/javascript" src="js/jqx/jqxgrid.sort.js"></script>
    <script type="text/javascript" src="js/jqx/jqxgrid.filter.js"></script>
    <script type="text/javascript" src="js/jqx/jqxgrid.selection.js"></script>
    <script type="text/javascript" src="js/jqx/jqxgrid.columnsresize.js"></script>
    <script type="text/javascript" src="js/jqx/jqxgrid.edit.js"></script>
    <script type="text/javascript" src="js/jqx/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="js/jqx/jqxcheckbox.js"></script>
    <script type="text/javascript" src="js/jqx/jqxlistbox.js"></script>
    <script type="text/javascript" src="js/jqx/jqxcombobox.js"></script>
    <script type="text/javascript" src="js/jqx/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="js/jqx/jqxgrid.columnsreorder.js"></script>

    <script src="js/jqx/jqxcalendar.js"></script>
    <script src="js/jqx/jqxdatetimeinput.js"></script>
    <script src="js/jqx/globalize.js"></script>

    <script src="js/jqx/globalize.culture.ch-CN.js"></script>

    <link rel="stylesheet" href="css/zTreeStyle.css">
    <script src="js/jquery.ztree.core.js"></script>
    <script src="js/jquery.ztree.exedit.js"></script>

</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="app">
        <!--header-->
        <setup-head></setup-head>
        <section class="b-main">
            <!--左侧菜单-->
            <setup-aside menu="department"></setup-aside>
            <div class="b-panel">
                <div class="setup-title">
                    部门管理
                </div>
                <div class="setup-main">
                    <div class="setup-left department-left">
                        <ztree id="ztreeEditor" ref="ztreeEditor" @add="addDepart" @modify="modifyDepart" @remove="removeDepart"></ztree>
                        <div class="companyCode-wrap">
                            <div class="companyCode-text">
                                企业串码
                            </div>
                            <div class="companyCode-code">
                                382087754
                            </div>
                            <div class="companyCode-text">
                                邀请员工
                            </div>
                            <form class="join-wrap" @submit.prevent="joinEmployee">
                                <div class="input-box">
                                    <input type="text" class="input" placeholder="请输入员工手机号" v-model="employeePhone">
                                </div>
                                <div class="btn-box">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="setup-right">
                        <div class="setupTable-top">
                            <form class="setupTable-top-form" @submit.prevent="searchEmployee">
                                <div class="setupSearch-box">
                                    <input type="text" class="input" placeholder="搜索员工" v-model="selectEmployee">
                                </div>
                                <button type="submit" class="btn btn-primary">搜索</button>
                            </form>
                            <div class="setup-select">
                                <label class="setupSelect-nav">已选中{{checklength}}项</label>
                                <a class="setupSelect-nav" href="javasctipt:void(0)" @click="manager">设置为管理员</a>
                                <a class="setupSelect-nav" href="javascript:void(0)" @click="changeDepart">变更部门</a>
                            </div>
                            <div class="setupTable-right">
                                <a class="btn btn-default" href="unbundlingList.html">已解绑员工</a>
                                <button class="btn btn-default">重置全部员工密码</button>
                                <a class="btn btn-default" href="applyList.html">申请列表</a>
                            </div>
                        </div>
                        <div class="setup-table">
                            <div class="setupTable">
                                <div class="jqxtable" id="jqxtable"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <transition name="layer">
            <layer :layer="layers.departmentAdd">
                <department-add ref="departmentAdd" :message="layers.departmentAdd.message"></department-add>
            </layer>
        </transition>
        <transition name="layer">
            <layer :layer="layers.departmentModify">
                <department-add ref="departmentModify" :message="layers.departmentModify.message"></department-add>
            </layer>
        </transition>
        <transition name="layer">
            <layer :layer="layers.staffModify">
                <staff-modify ref="staffModify"></staff-modify>
            </layer>
        </transition>
        <transition name="layer">
            <layer :layer="layers.selectDepart">
                <select-depart ref="selectDepart"></select-depart>
            </layer>
        </transition>
        <transition name="layer">
            <layer :layer="layers.unbundling">
                <unbundling ref="unbundling"></unbundling>
            </layer>
        </transition>
        <transition name="layer">
            <layer :layer="layers.setManager">
                <set-manager ref="setManager"></set-manager>
            </layer>
        </transition>
    </div>

    <template id="departmentAdd">
        <input-row :rows="message"></input-row>
    </template>
    <script>
        var departemntAdd = Vue.extend({
            template: '#departmentAdd',
            props: ['message'],
            methods: {
                submit: function () {
                    console.log("新建部门提交");
                }
            }
        });
        Vue.component('departmentAdd', departemntAdd);
    </script>
    <template id="departmentModify">
        <input-row :rows="message"></input-row>
    </template>
    <script>
        var departmentModify = Vue.extend({
            template: '#departmentModify',
            props: ['message'],
            methods: {
                submit: function () {
                    console.log("编辑部门提交");
                }
            }
        });
        Vue.component('departmentModify', departmentModify);
    </script>

    <template id="setManager">
        <div class="layer-text-content">设置为管理员后该员工可看到本部门及下属部门的数据，是否继续</div>
    </template>
    <script>
        var setManager = Vue.extend({
            template: '#setManager',
            methods: {
                submit: function () {
                    console.log('设置为管理员');
                }
            }
        });
        Vue.component('setManager', setManager);
    </script>
    <!-- input输入框 -->
    @@include('../components/inputRow.html')
    <!--左侧导航-->
    @@include('../components/setupAside.html')
    <!--顶部-->
    @@include('../components/setupHead.html')
    <!--弹框-->
    @@include('../components/layer.html')
    <!-- 树形图 -->
    @@include('../components/ztree.html')
    <!-- 树形图 -->
    @@include('../components/departztree.html')
    <!-- 编辑员工 -->
    @@include('../components/staffModify.html')
    <!-- 解绑员工 -->
    @@include('../components/unbundling.html') @@include('../components/staffSelect.html')
    <!-- 变更部门 -->
    @@include('../components/selectDepart.html')
    <!--selected-->
    @@include('../components/select2.html')

    <script src="js/scripts.js"></script>
    <script src="js/setupDepartment.js"></script>

</body>

</html>