<div class="modal fade" v-if="layer.@@layer" id="@@layer" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="signUp-wrap">
                <div class="signUp-close" onclick="signClose()">
                    <i>&times;</i>
                </div>
                <div class="signUp-main">
                    <div class="s-title">
                        欢迎注册云客企业版
                    </div>
                    <div class="s-box">
                        @@include('@@layerFrame')
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>